In [1]:
import pandas as pd
import os
from itertools import chain

In [6]:
directory = 'data'  
pickle_files = [os.path.join(directory, file) for file in os.listdir(directory) if file.endswith('.pickle')]

dataframes = []
for file in pickle_files:
    s = pd.read_pickle(file)
    flattened_list = list(chain.from_iterable(s))

    df = pd.DataFrame(flattened_list, columns=['ID', 'DateTime'])
    dataframes.append(df)

combined_df = pd.concat(dataframes, ignore_index=True)

         ID                   DateTime
0       172 2019-03-27 10:40:12.529245
1       226 2019-03-27 10:16:42.028122
2       228 2019-03-27 10:55:01.115513
3       233 2019-03-27 10:20:15.934103
4       242 2019-03-27 08:50:32.356951
...     ...                        ...
203210  445 2019-03-26 14:36:43.332453
203211  495 2019-03-26 13:42:29.665420
203212  529 2019-03-26 13:09:45.508481
203213  581 2019-03-26 11:52:51.034533
203214  609 2019-03-26 13:54:10.854453

[203215 rows x 2 columns]